/*Navbar*/

.dropdown-menu {
    min-width: 0;
}

nav {
    float: right;
    margin-top: 2.5%;
    margin-right: 10%;
}

.navbrand {
    width: 75px;
    margin-top: 2.5%;
    margin-left: 10%;
}

.navbrand:hover {
    cursor: pointer;
}

/*Body*/
body {
    background-color: black;
}

#all{
    margin-top: 2.5%;
    width:100%;
    text-align:center;
}

  .twitch {
      text-align: center;
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
  }
  .twitchiframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 1153px){
    nav {
        margin-right: 0%;
    }
    
    .navbrand {
        margin-left: 0%;
    }
}

